html,body {
    height: 100%;
}
body {
    background: white;
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family:serif;
/*     color:black; */
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: red;
/*     text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
    .time {
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
        color: blue
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
        color: blue
        
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
        color: blue
    }
}
